/* Estilos específicos para la página de Clientes */

/* Ajuste de ruta para el menú móvil desde subcarpetas */
.mobile-menu-background {
  background-image: url('../assets/images/movil/Kennaline Movil_menu_background.png');
}

.page-content {
  width: 100%;
  position: relative;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 78px;
  width: 100%;
}

.logo-img {
  height: 50px;
}



.main-nav {
  top: 0;
}

/* Hero Section 1 */
.hero {
  width: 100%;
  min-height: 768px;
  height: calc(100svh - 147px);
  position: relative;
  overflow: visible;
}

.hero-background {
  background-image: url('../assets/images/clientes/Kennaline Web_hero_background.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.hero-overlay {
  opacity: 0.6;
  background-image: url('../assets/images/clientes/Kennaline Web_hero_background_overlay.png');
  background-size: cover;
  background-position: center;
  z-index: 2;
}

.hero-banner-top-left-wrapper {
  position: absolute;
  display: flex;
  top: 120px;
  width: 400px;
  height: 104px;
}

.hero-banner-top-left {
  display: flex;
  align-items: center;
  left: 0;
  width: 400px;
  height: 104px;
  padding-left: 82.5px;
  background-image: url('../assets/images/clientes/Kennaline Web_hero_banner_top_left.png');
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: 3;
}

.hero-banner-top-left-text {
  width: 186px;
  height: 42px;
  background-image: url('../assets/images/clientes/Kennaline Web_hero_banner_top_left_text.png');
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: 4;
}

.hero-banner-center-bottom-wrapper {
  position: absolute;
  bottom: -69px;
  left: 50%;
  transform: translateX(-50%);
  width: 1000px;
  height: 138px;
  z-index: 3;
}

.hero-banner-center-bottom {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1000px;
  height: 138px;
  background-image: url('../assets/images/clientes/Kennaline Web_hero_banner_center_bottom.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: 4;
}

.hero-banner-center-bottom-text {
  width: 864px;
  height: 45px;
  background-image: url('../assets/images/clientes/Kennaline Web_hero_banner_center_bottom_text.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: 4;
}

/* Hero Section 2 */
.hero2 {
  width: 100%;
  min-height: 768px;
  height: 160svh;
}

.hero2-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 0;
  min-height: 768px;
  height: 160svh;
  width: 100%;
}

.hero2, .hero2-content {
  aspect-ratio: 1080/917;
  width: 100%;
  height: auto;
  min-height: 0px;
}

.hero2-content-center {
  flex: 1;
  aspect-ratio: 1080/917;
  width: 100%;
  height: auto;
  min-height: 0px;
  background-image: url('../assets/images/clientes/Kennaline Web_hero2_content_center.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.mobile-menu-content {
  padding: 80px 20px 20px;
}

.mobile-menu-close {
  top: 15px;
}

.logo-container img {
  height: 50px;
}

/* Responsive - Imágenes móviles */
@media (max-width: 1080px) {

  .hero {
    aspect-ratio: 1080/863;
    height: auto;
    min-height: 0px;
  }

  .hero-background {
    background-image: url('../assets/images/clientes/movil/Kennaline Web_hero_background.png');
  }

  .hero-overlay,
  .hero-banner-top-left-wrapper,
  .hero-banner-center-bottom-text {
    display: none;
  }

  /* Ajustes del banner center-bottom para móvil */
  .hero-banner-center-bottom-wrapper {
    width: 90%;
    max-width: 1000px;
    height: auto;
    min-height: 138px;
    bottom: -69px;
  }

  .hero-banner-center-bottom {
    width: 100%;
    height: auto;
    min-height: 138px;
    aspect-ratio: 1000/138;
    background-image: url('../assets/images/clientes/movil/Kennaline Web_hero_banner_center_bottom.png');
  }

  /* Ajustes del hero2 en móvil */
  .hero2, .hero2-content {
    aspect-ratio: 771/1827;
    width: 100%;
    height: auto;
    min-height: 0px;
  }

  .hero2-content {
    padding: 100px 20px 20px 20px;
  }

  .hero2-text-top,
  .hero2-text-bottom {
    display: none;
  }

  .hero2-content-center {
    background-image: url('../assets/images/clientes/movil/Kennaline Web_hero2_content_center.png');
    max-height: none;
  }
}